{%load staticfiles%}
<html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Macondo&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Hi I'm Laura Vargas</title>
    </head>
    <body>
        <div class=Principio>
            while(1>0){    
                    setTimeout(function() {
                            <h1><a href:"">prueba 1</a></h1>
                        }, 5000);
                    setTimeout(function() {
                            <h1><a href:"">prueba 2</a></h1>
                        }, 5000);
                        }
        </div>
        <div class="Encabezado">
            <h1><a href="">  Who am I?</a></h1>
        </div>
        <p><em> I am student of electronic engineering of Universidad  Pontificia Bolivariana. <br>I have been a student research leader and co-researcher on projects in the area of bioengineering, </br>prospective energy and, seismic waves analysis. My participation on research groups has allowed me to travel to other<br> cities and countries to present some results of research projects. </br>This way, I have some national and international publications and, also I have acquired communication skills.<br>
I have been administrative monitor in the Specialization course in Instrumentation and Industrial Control.</br> This is a postgraduate course of the Faculty of Electronics Engineering of Universidad Pontificia Bolivariana.<br>
I have good skills using the software Arduino, Matlab, LabView, Twido and, C programming.</br> Also, I have a basic knowledge in the VHDL programming language to program FPGA.<br></br>
</em>
        <h2><a href=""> What is this page?</a> </h2>
        <p><em> prueba de texto en cursiva</em>
        <br/><strong> Texto en negrita </strong></p>
        
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
    	<p>Hi there!</p>
	    <p>It works!</p>
        
        {{posts}}
    </body>
</html>
